/* Import Salsa font */
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* Import Material 3 UI styles */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700|Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone&display=block');
@import url('https://fonts.googleapis.com/css2?family=Google+Material+Icons&display=block');
@import url('https://fonts.googleapis.com/css2?family=Google+Material+Icons+Outlined&display=block');
@import url('https://fonts.googleapis.com/css2?family=Google+Material+Icons+Round&display=block');
@import url('https://fonts.googleapis.com/css2?family=Google+Material+Icons+Sharp&display=block');
@import url('https://fonts.googleapis.com/css2?family=Google+Material+Icons+Two+Tone&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outline&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Twotone&display=block');


/* Custom CSS styles */
body {
    font-family: 'Salsa', sans-serif; /* Set font-family to Salsa */
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-results li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Add cursor pointer */
}

#search-results li img {
    width: 120px;
    height: 120px;
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 10px;
}

#search-results li span {
    color: #333;
    text-align: center;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
